<!DOCTYPE html>
<html ng-app="carApp">
  <head>
    <style type="text/css">
      html, body, #container, #container .row, #map-column, #map-canvas { height: 100%; }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZk_OT8STtd6da5rUwzhugWPZkUkRMlKU">
	  </script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
    <script type="text/javascript" src="scripts/controllers.js"></script>

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	
  </head>
  <body ng-controller="MainCtrl as ctrl">
	  <div id="container" class="container-fluid">
  	  <div class="page-header">
  	    <h1>Connected Vehicle Demo</h1>
		<p><div class="btn-group" role="group" aria-label="...">
		  
		  <button type="button" class="btn btn-default" ng-click="ctrl.togglePlay()">
			  <span ng-show="ctrl.state.play"><i class="fa fa-pause"></i> Pause </span>
		  	  <span ng-hide="ctrl.state.play"><i class="fa fa-play"></i> Play <span>
		  </button>
		  
		  <button ng-click="ctrl.toggleRain()" type="button" class="btn btn-default"><i class="fa fa-cloud"></i> Rain</button>
		  <button ng-click="ctrl.toggleEmergency()" type="button" class="btn btn-default"><i class="fa fa-warning"></i> Emergency</button>
		</div></p>

  	  </div>
	  	

		<div class="row">
		  <div id="map-column" class="col-sm-9">
			  <div id="map-canvas" ></div>
		  </div>  
		  <div class="col-sm-3">
			  <div class="panel panel-default" ng-repeat="car in ctrl.cars">
		  		<div class="panel-heading">
		    		<h3 class="panel-title">{{car.name}}</h3>
		  	  	</div>
		  	  	<div class="panel-body data">
					<ul>
					<li ng-repeat="log in car.log">
						{{log.message}} {{ log.date | date:'medium' }}
					</li>
					</ul>
		  	  	</div>
		</div>
	
	
			
		  </div>
	  	</div>
	  </div>
  </body>
</html>